# Experiment outputs
experiment/trial/
experiment/trial2/
experiment/experiment2/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Virtual environment
nst/

# Data folders
content_data/
style_data/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

